@model VandelayIndustries.DAL.Models.Transaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Date
        </dt>

        <dd>
            @Model.Date.ToShortDateString()
        </dd>

        <dt>
            Buyer
        </dt>

        <dd>
            @Model.Buyer.Name
        </dd>

        <dt>
            Seller
        </dt>

        <dd>
            @Model.Seller.Name
        </dd>

        <dt>
            Sales Person
        </dt>

        <dd>
            @Model.SalesPerson.Name
        </dd>

        <dt>
            Items
        </dt>

        @foreach (var item in Model.Items)
        {
            <dd>@item.Description</dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
