@model VandelayIndustries.DAL.Models.Transaction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Buyer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Buyer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesPerson.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesPerson.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seller.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seller.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuyerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuyerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesPersonId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesPersonId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
